/* Test CSS class to check file path refs are good */
.test1 {
    color:red;
    font-size: 3em;
}

.hidden {
    display: none;
}

/* Page Layout */
.span-16 {
    border:1px solid #919191;
}

.left-col {
    min-height: 100px;
    width: 25%;
    float:left;
    border:1px solid #919191;
}

.right-col {
    min-height: 350px;
    width: 70%;
    float:right;
    border:1px solid #919191;
}

/* Drag and Drop List Content */
#dragContent div {
    height: 20px;
    width: 110px;
    background-color: #EEE;
    border: 1px solid #000;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    font-size: 1.15em;
    cursor: move;
}


#dropContent {

}

.ui-state-highlight { 
    height: 1.5em; 
    line-height: 1.2em; 
}

/* Sample Ballot */
.ballot-container {
    height:auto;
    width:400px;
    background: #eeeeee;
    border:1px solid black;
    -webkit-border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:10px;
}

.ballot-title-container {
    height: auto;
}

.ballot-title {
    width:80%;
    min-height: 30px;
    background: black;
    -webkit-border-radius: 5px;
    margin-left:auto;
    margin-right:auto;
    margin-top:-15px;
    padding:5px;
}

.ballot-title-text {
    width:95%;
    min-height: 25px;
    margin-left:auto;
    margin-right:auto;
    border:2px dashed white;
    color:white;
    padding-left:5px;  
    font-size: 1.5em;
    cursor: move;
}

#ballot-instructions-container div {
    height:auto;
}

.ballot-instructions {
    width:80%;
    min-height: 25px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    border:2px dashed black;
    padding-left:5px;
    font-size: 1.25em;
    cursor: move;
}

.ballot-candidate-container {
    width: 85%;
    min-height:75px;
    background:#ffffff;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    border:1px solid black;
    -webkit-border-radius: 5px;
}

.leftside {
    width: 50px;
    float:left;
}
 
.checkbox {
    height:25px;
    width:25px;
    float:left;
    border:1px solid black;
    margin-top:10px;
    margin-left:10px;
}

.rightside {
    width: 280px;
    float:right;
}

.ballot-candidate1 {
    width:40%;
    float:left;
    min-height: 25px;
    margin-top:5px;
    border:2px dashed black;
    padding-left:5px;
    font-size: 1.25em;
    cursor: move;
}

.ballot-candidate2 {
    width:40%;
    float:left;
    min-height: 25px;
    margin-left:20px;
    margin-top:5px;
    border:2px dashed black;
    padding-left:5px;
    font-size: 1.25em;
    cursor: move;
}

.ballot-candidate3 {
    width:40%;
    float:left;
    min-height: 25px;
    margin-top:5px;
    border:2px dashed black;
    padding-left:5px;
    clear:left;
    font-size: 1.25em;
    cursor: move;
}

.ballot-candidate4 {
    width:40%;
    float:left;
    min-height: 25px;
    margin-left:20px;
    margin-top:5px;
    border:2px dashed black;
    padding-left:5px;
    clear:right;
    font-size: 1.25em;
    cursor: move;
}



.clear {
    clear:both;
}







